        .search {
            display: block;
            height: 25px;
            width: 400px;
        }

        .header {
            height: 80px;
            display: flex;
            justify-content: space-between;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            background-color: white;
            /* align-items: center; */
        }

        .sidebar{
            display: block;
            position: fixed;
            left: 0;
            bottom: 0;
            right: 0;
            top: 80px;
            width: 80px;
;
            background-color: lightpink;
            justify-content:left;
        }

        .left {
            background-color: lightblue;
            width: 150px;
        }

        .mid {
            margin-left: 70px;
            margin-right: 35px;
            background-color: lightpink;
            flex: 1;
            max-width: 700px;
        }

        .right {
            background-color: lightblue;
            width: 200px;
        }